.main-div {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column; /* Align items vertically */
}

.cb1 {

    margin-bottom: 10px; /* Add space between close button and contact button */
    height: 30px;
    width: 30px;
    background: #ff4d4d; /* Changed to a more standard 'close' color */
    color: white;
    border: none; /* Remove border */
    border-radius: 15px; /* Circular shape */
    font-size: 20px;
    cursor: pointer; /* Cursor change to indicate clickable */
}

.cb2 {
    height: 40px;
    width: 150px;
    background: #4CAF50; /* A pleasant green */
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adding some shadow for depth */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.cb2:hover {
    background-color: #45a049; /* Slightly darker green on hover */
}
